---
import fetchApi from "../lib/strapi";
import Layout from "../components/layout.astro";

type lodgingsTypes = {
  attributes: {
    name: string;
    link: string;
    phone: string;
    details: string;
  };
}[];
const lodgings = await fetchApi<lodgingsTypes>({
  endpoint: "lodgings",
  wrappedByKey: "data",
  populate: {
    name: true,
    link: true,
    phone: true,
    details: true,
  },
});
---

<Layout>
  <main>
    <ul>
      {
        lodgings.map((lodge) => (
          <li>
            <h2>
              {lodge.attributes.link ? (
                <a href={lodge.attributes.link}>{lodge.attributes.name}</a>
              ) : (
                lodge.attributes.name
              )}
            </h2>
            {lodge.attributes.phone ? (
              <p>
                <a href={lodge.attributes.phone}>
                  {/* TODO: stylize */}
                  {lodge.attributes.phone}
                </a>
              </p>
            ) : null}
            <p>{lodge.attributes.details}</p>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
