---
import fetchApi from "../lib/strapi";

type contactTypes = {
  contactName: string;
  contactPosition: string;
  streetAddress: string;
  addressLocality: string;
  addressRegion: string;
  postalCode: string;
  email: string;
  contactPhone: string;
  officiateContact: string;
  officiatePhone: string;
};
const contact = await fetchApi<contactTypes>({
  endpoint: "contact",
  wrappedByKey: "data",
  fields: [
    "contactName",
    "contactPosition",
    "streetAddress",
    "addressLocality",
    "addressRegion",
    "postalCode",
    "email",
    "contactPhone",
    "officiateContact",
    "officiatePhone",
  ],
});

type metaTypes = {
  siteName: string;
};
const meta = await fetchApi<metaTypes>({
  endpoint: "meta",
  wrappedByKey: "data",
  fields: ["siteName"],
});

function Phone({ phone }: { phone: string }) {
  return phone.replace(/(\d{3})(\d{3})(\d{4})/, "($1) $2-$3");
}
---

<footer>
  <h3 class="font-slab kilimanjaro">
    <a href="/">{meta.siteName}</a>
  </h3>
  <section class="footer-contact">
    <h2 class="elbrus">Contact</h2>
    <strong>{contact.contactName}</strong>
    <address>
      {contact.contactPosition}
      <br />
      {contact.streetAddress}
      <br />
      {contact.addressLocality}
      <br />
      {contact.addressRegion},
      {contact.postalCode}
    </address>
    <br />
    <a href={`mailto:${contact.email}`}>
      {contact.email}
    </a>
    <br />
    <a href={`tel:${contact.contactPhone}`}>
      <Phone phone={contact.officiatePhone} />
    </a>
  </section>
  <hr />
  <section>
    Game officials needed.<br />
    {contact.officiateContact}<br />

    <a href={`tel:${contact.officiatePhone}`}>
      <Phone phone={contact.officiatePhone} />
    </a>
  </section>
</footer>
