---
const {
  id,
  round,
  home_team,
  home_team_score,
  away_team,
  away_team_score,
  date,
  time,
  overtime,
  fallback_winner,
  displayDate,
} = Astro.props;

// const game_winner = home_team_score > away_team_score ? home_team : away_team;
let game_winner = {
  data: {
    id: 0,
  },
};

if (home_team_score > away_team_score) {
  game_winner = home_team;
} else if (away_team_score > home_team_score) {
  game_winner = away_team;
} else if (fallback_winner.data) {
  game_winner = fallback_winner;
}

const displayTime = (time: string) => {
  let gameTime = null; // Declare the variable gameTime and initialize it to null

  gameTime = time.split(":").slice(0, 2).join(":");
  // console.log(gameTime);

  let gameHour = gameTime.split(":").slice(0, 1).join(":");
  if (gameHour.startsWith("0")) {
    gameHour = gameHour.substring(1);
  }
  const gameHourNumber = Number.parseInt(gameHour);
  gameHourNumber > 12 ? gameHourNumber - 12 : gameHourNumber;

  const gameMinute = gameTime.split(":").slice(1, 2).join(":");

  const gamePeriod =
    gameTime && Number.parseInt(gameTime.split(":")[0]) < 12 ? "AM" : "PM";

  return `${gameHour}:${gameMinute} ${gamePeriod}`;
};

// console.log(Astro.props);

function ShortName({ name }: { name: string }) {
  if (name.toLowerCase().includes("high school")) {
    name = name.replace(/high school/gi, "HS");
  }

  if (name.toLowerCase().includes("preparatory school")) {
    name = name.replace(/preparatory school/gi, "Prep");
  }

  return name;
}
---

<section
  class={`scorecard font-slab ${round ? round?.data?.attributes.name : null}`}
>
  {
    round?.data?.attributes.name ? (
      <div class="round capitalize denali">{round?.data?.attributes.name}</div>
    ) : null
  }

  <div
    class={`scoreteam ${game_winner.data.id === home_team.data.id ? "win" : "loss"}`}
  >
    <h3 class="denali team-name">
      <a href={`/teams/${home_team.data?.attributes.slug}`} class="font-slab">
        <!-- {home_team.data?.attributes.name} -->
        <ShortName name={home_team.data?.attributes.name} />
      </a>
    </h3>
    {home_team_score ? <h4 class="aconcagua">{home_team_score}</h4> : null}
  </div>

  <div class="vs">vs</div>

  <div
    class={`scoreteam ${game_winner.data.id === away_team.data.id ? "win" : "loss"}`}
  >
    <h3 class="denali team-name">
      <a href={`/teams/${away_team.data?.attributes.slug}`} class="font-slab">
        <!-- {away_team.data?.attributes.name} -->
        <ShortName name={away_team.data?.attributes.name} />
      </a>
    </h3>
    {away_team_score ? <h4 class="aconcagua">{away_team_score}</h4> : null}
  </div>

  <div class="details">
    <p><a href={`/games/${id}`}>Details:</a></p>
    {
      !away_team_score && !home_team_score ? (
        <p class="no-scores">No scores recorded</p>
      ) : null
    }

    {overtime ? <div class="overtime">Game went to overtime</div> : null}
    <!-- TODO: real html dates -->

    {
      date || time ? (
        <p>
          {date && displayDate !== false ? (
            <span class="date">{date}</span>
          ) : null}
          {time ? <span class="time">{displayTime(time)}</span> : null}
        </p>
      ) : null
    }

    <!-- TODO: I broke the api on locations it was a multiple by mistake -->
    <!-- {
      locations ? (
        <>
          <hr />
          <div class="location">{locations.data[0]?.attributes.name}</div>
        </>
      ) : null
    } -->
  </div>
</section>
