---
const {
  round,
  home_team,
  home_team_score,
  away_team,
  away_team_score,
  date,
  time,
  overtime,
} = Astro.props;
---

<section class="scorecard">
  {
    round ? (
      <div class="round capitalize">{round?.data?.attributes.name}</div>
    ) : null
  }

  <div
    class={`scoreteam ${home_team_score > away_team_score ? "win" : "loss"}`}
  >
    <a href={`/teams/${home_team.data?.attributes.slug}`}>
      {home_team.data?.attributes.name}
    </a>
    {home_team_score}
  </div>

  <div class="vs">vs</div>

  <div
    class={`scoreteam ${away_team_score > home_team_score ? "win" : "loss"}`}
  >
    <a href={`/teams/${away_team.data?.attributes.slug}`}>
      {away_team.data?.attributes.name}
    </a>
    {away_team_score}
  </div>

  {overtime ? <div class="overtime">Overtime</div> : null}

  <div class="game-details">
    <!-- TODO: real html dates -->
    <!-- TODO: fix the splits -->
    {
      date || time ? (
        <p>
          {date ? <span class="date">{date}</span> : null}
          {time ? <span class="time">{time}</span> : null}
        </p>
      ) : null
    }

    <!-- TODO: I broke the api on locations it was a multiple by mistake -->
    <!-- {
      locations ? (
        <>
          <hr />
          <div class="location">{locations.data[0]?.attributes.name}</div>
        </>
      ) : null
    } -->
  </div>
</section>
