---
const {
  round,
  home_team,
  home_team_score,
  away_team,
  away_team_score,
  date,
  time,
  overtime,
  fallback_winner,
} = Astro.props;

console.log(fallback_winner.data);

// const game_winner = home_team_score > away_team_score ? home_team : away_team;
let game_winner = {
  data: {
    id: 0,
  },
};
if (home_team_score > away_team_score) {
  game_winner = home_team;
} else if (away_team_score > home_team_score) {
  game_winner = away_team;
} else if (fallback_winner.data) {
  game_winner = fallback_winner;
}
---

<section class="scorecard">
  {
    round ? (
      <div class="round capitalize">{round?.data?.attributes.name}</div>
    ) : null
  }

  <div
    class={`scoreteam ${game_winner.data.id === home_team.data.id ? "win" : "loss"}`}
  >
    <a href={`/teams/${home_team.data?.attributes.slug}`} class="font-slab">
      {home_team.data?.attributes.name}
    </a>
    {home_team_score}
  </div>

  <div class="vs">vs</div>

  <div
    class={`scoreteam ${game_winner.data.id === away_team.data.id ? "win" : "loss"}`}
  >
    <a href={`/teams/${away_team.data?.attributes.slug}`} class="font-slab">
      {away_team.data?.attributes.name}
    </a>
    {away_team_score}
  </div>

  {overtime ? <div class="overtime">Overtime</div> : null}

  <div class="game-details">
    <!-- TODO: real html dates -->
    <!-- TODO: fix the splits -->
    {
      date || time ? (
        <p>
          {date ? <span class="date">{date}</span> : null}
          {time ? <span class="time">{time}</span> : null}
        </p>
      ) : null
    }

    <!-- TODO: I broke the api on locations it was a multiple by mistake -->
    <!-- {
      locations ? (
        <>
          <hr />
          <div class="location">{locations.data[0]?.attributes.name}</div>
        </>
      ) : null
    } -->
  </div>
</section>
